---
import i18next, { t, changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/Search";

changeLanguage("en");

const tPageTitle = t("search.title");
const tPageDesc = t("search.description");
// Retrieve all articles
const posts = await getCollection(
  "blog",
  ({ id, data }) => id.startsWith(`${i18next.language}/`) && !data.draft
);
// List of items to search in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  data,
}));
---

<Layout title={`${tPageTitle} | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle={tPageTitle} pageDesc={tPageDesc}>
    <Search client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
