---
import CardDatetime from "./CardDatetime";

export interface Props {
  title: string;
  body: string;
  ogImage?: string;
  href: string;
  published: Date;
}

const { href, title, body, ogImage, published } = Astro.props;
---

<a href={href}>
  <div
    class="bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 w-full rounded-lg border shadow duration-200 ease-in hover:scale-105"
  >
    <img class="rounded-t-lg" src={ogImage} alt="" />
    <div class="p-5">
      <h5
        class="text-gray-900 dark:text-white mb-4 text-sm font-bold tracking-tight"
      >
        {title}
      </h5>
      <p
        class="text-gray-700 dark:text-gray-400 mb-3 mb-12 text-sm font-normal"
      >
        {body}
      </p>
      <CardDatetime datetime={published} />
    </div>
  </div>
</a>
